


.bg-image{
 /*display: flex;*/
 z-index: 55;
 position: fixed;
 background-image: url("../img/bgimage.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
 height: 100%;
 margin: 0;
}


.movie-container{
  display: flex;
  flex-flow: row;
  height: 35%;
  width: 100%;
  align-content: center;
  justify-content:center;
  /*padding-left: 300px;*/

}
#which-movie{
  display: flex;
  background-color: rgba(84, 85, 91, 0.5);
  justify-content: center;
  align-content: center;
  padding: 20px;

}

#which-time{
  display: flex;
  opacity: 0;
  background-color: rgba(84, 85, 91, 0.5);
  justify-content: center;*/
  align-content: center;
  padding: 20px;

}
#which-tier{
  display: flex;
  opacity: 0;
  background-color: rgba(84, 85, 91, 0.5);
  justify-content: center;
  align-content: center;
  padding:20px;

}

.movie1{
  display: flex;
  width: 25%;
  height: 100%;
  background-image: url("../img/images.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
}

.movie2{
  display: flex;
  width: 25%;
  height: 100%;
  background-image: url("../img/bilboards.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.movie3{
  display: flex;
  width: 25%;
  height: 100%;
  background-image: url("../img/money.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
}

.js-container{
  padding-right: 300px;
  padding-left: 300px;
  padding-top: 25px;
  color: rgb(220, 220, 226);
  font-size: 23pt;
}
